:root {
    --primary: #D29E84;
    --secondary: #415161;
}

.main-banner {
    background-image: url('/bannerBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 62.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.5rem;
}

.banner-menu h1 {
    font-size: 6.5rem;
    text-align: center;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    font-weight: 400;
    line-height: 6.6rem;
    font-family: 'Tangerine';
    padding-top: 15rem;
}

.primary-color {
    color: var(--primary);
    font-family: 'Tangerine';
}

.lovebox-button {
    background-color: var(--primary);
    margin-top: 2.5rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    height: 8.4rem;
    padding: 1rem 4.6rem;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    color: #FFF;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 3.15rem;
    margin-inline: auto;
}

.lovebox-button:hover {
    color: rgb(211, 86, 148);
    background: #000;
    border: 1.5px solid rgb(211, 86, 148);
    transition: 0.2s all ease;
}

.lovebox-button:hover .heart-svg {
    fill: rgb(211, 86, 148) !important;
    transition: 0.2s all ease;
}

@media only screen and (max-width: 1200px) {
    .banner-menu h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    .main-banner {
        height: 40rem;
    }

    .banner-menu h1 {
        font-size: 3rem;
    }

    .lovebox-button {
        height: 7rem;
        font-size: 2.4rem;
        font-weight: 500;
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .lovebox-button {
        height: 7rem;
        font-size: 2rem;
    }

    .banner-menu h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
}