:root {
    --primary: #D29E84;
    --secondary: #415161;
    --gilroy: Gilroy;
}

.giftpack-header {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    line-height: 7.2rem;
    text-transform: uppercase;
    border-bottom: 2px dashed var(--primary);
    width: fit-content;
    margin-inline: auto;
    font-family: 'Cutive', serif;
    padding-bottom: 1rem;
}

.giftpack-parent {
    margin-top: 7.6rem;
    width: 100%;
    max-width: 111.2rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
}

.giftpack-parent:nth-child(3), .giftpack-parent:nth-child(4) {
    margin-top: 4.6rem;
}

.giftpack-child {
    height: 57.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.2rem;
    flex-shrink: 0;
}

.giftpack-child:first-child {
    width: 38.2rem;
}

.giftpack-child:last-child {
    width: 55.7rem;
}

.giftpack-child-odd:first-child {
    width: 55.7rem;
}

.giftpack-child-odd:last-child {
    width: 38.2rem;
}

.giftpack-image {
    width: 100%;
    height: 100%;
}

.giftpack-child:nth-child(2) {
    justify-content: center;
}

.giftpack-child-odd:nth-child(1) {
    justify-content: center;
}

.giftpack-child h1 {
    font-size: 4.2rem;
    font-weight: 700;
}

.giftpack-child p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 3.4rem;
}

.giftpack-child p span {
    font-weight: 500;
}

.button-primary {
    min-height: 8.4rem;
    padding: 1rem 4.6rem;
    border-radius: 1rem;
    background: var(--primary);
    color: #FFF;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 3.1rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    cursor: pointer;
}

.button-primary:hover {
    color: var(--primary);
    background: #FFF;
    border: 1.5px solid var(--primary);
    transition: 0.2s all ease;
}

.button-primary:hover .heart-svg {
    fill: rgb(211, 12, 128) !important;
    transition: 0.2s all ease;
}


@media only screen and (max-width: 1200px) {
    .giftpack-parent {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 5rem;
    }

    .giftpack-child:first-child {
        width: 100%;
        height: 100%;
    }

    .giftpack-image {
        width: 42.4rem;
        margin-inline: auto;
    }

    .giftpack-child:last-child {
        width: 100%;
        height: 100%;
    }

    .giftpack-parent:nth-child(3) {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 768px) {
    .giftpack-header {
        font-size: 3.2rem;
    }

    .giftpack-parent {
        flex-direction: column;
        justify-content: flex-start;
        row-gap: 5rem;
    }

    .giftpack-child h1 {
        font-size: 3.2rem;
    }

    .giftpack-child p {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    .giftpack-child:first-child {
        width: 100%;
        height: 100%;
    }

    .giftpack-image {
        width: 42.4rem;
        margin-inline: auto;
    }

    .giftpack-child:last-child {
        width: 100%;
        height: 100%;
    }

    .giftpack-parent:nth-child(3) {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 480px) {
    .giftpack-header {
        font-size: 2.8rem;
    }

    .giftpack-child h1 {
        font-size: 2.8rem;
    }

    .giftpack-child p {
        font-size: 2rem;
        line-height: 2rem;
    }

    .giftpack-child:last-child {
        width: 100%;
    }

    .giftpack-child-odd:first-child {
        width: 100%;
    }

    .giftpack-image {
        width: 100%;
        margin-inline: auto;
    }
}