:root {
    --primary: #D29E84;
    --secondary: #415161;
}

.main-product-category {
    margin-top: 7rem;
    display: flex;
    width: 100%;
    min-height: 52rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9.2rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1.5px solid var(--primary);
    background: rgba(210, 158, 132, 0.16);
    padding: 5rem;
    margin-bottom: 10rem;
}

.main-product-category h1 {
    text-align: center;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 7.2rem;
    text-transform: uppercase;
    border-bottom: 2px dashed var(--primary);
}

.main-product-category h1 span {
    font-family: 'Tangerine';
}

.categories-parent {
    display: flex;
    gap: 7.5rem;
    /* flex-wrap: wrap; */
}

.categories-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    gap: 3rem;
}

.categories-child>* {
    flex-basis: 100%;
}

.categories-child p {
    text-align: center;
    font-size: 3.6rem;
    font-weight: 400;
}

@media only screen and (max-width: 1400px) {

    .main-product-category h1 {
        font-size: 3.6rem;
    }

    .categories-parent {
        flex-direction: row;
        justify-content: space-between;
    }

    .categories-child p {
        font-size: 2.8rem;
    }
}


@media only screen and (max-width: 1200px) {

    .main-product-category {
        margin-top: 5rem;
        margin-bottom: 5rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 992px) {

    .main-product-category h1 {
        font-size: 3.2rem;
    }

    .categories-child p {
        font-size: 2.4rem;
    }

    .categories-parent {
        gap: 4rem;
    }

    .categories-child img {
        width: 8.5rem;
        height: 8.5rem;
    }
}

@media only screen and (max-width: 768px) {

    .main-product-category {
        margin-top: 3rem;
        min-height: 35rem;
        gap: 7rem;
        padding: 5rem;
        margin-bottom: 5rem;
    }

    .main-product-category h1 {
        font-size: 2.8rem;
    }

    .categories-child p {
        font-size: 2rem;
    }

    .categories-parent {
        gap: 2.5rem;
    }

    .categories-child img {
        width: 7rem;
        height: 7rem;
    }
}

@media only screen and (max-width: 480px) {

    .main-product-category {
        padding: 2rem;
    }

    .main-product-category h1 {
        font-size: 2.4rem;
        line-height: 2rem;
    }

    .categories-child p {
        font-size: 1.8rem;
    }

    .categories-parent {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .categories-child img {
        width: 6rem;
        height: 6rem;
    }
}