.app-root-container {
    margin: auto;
    width: 80%;
    max-width: 200rem;
}

@media only screen and (max-width: 480px) {
    .app-root-container {
        width: 90%;
    }
}

/* @media only screen and (max-width: 1200px) {
    .app-root-container {
        margin: auto 14rem;
    }
}

@media only screen and (max-width: 992px) {
    .app-root-container {
        margin: auto 10rem;
    }
}

@media only screen and (max-width: 768px) {
    .app-root-container {
        margin: auto 6rem;
    }
}

@media only screen and (max-width: 576px) {
    .app-root-container {
        margin: auto 3rem;
    }
}

@media only screen and (max-width: 480px) {
    .app-root-container {
        margin: auto 2rem;
    }
} */